label {
	text-align: center;
}

.title {
	text-align: center;
}

#button1 {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 40px;

}
#insidebutton {
	margin: 20px;
	size: 20px;
}

.theTitle {
	padding-top: 30px;
	margin-left: 800px;
	font-family: Arial;
	color: white;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 35.8px;

}

.orangeText
{
    color: orange;
}

.navbar-static-top {
    height: 90px; /* Whatever you want. */
    background-color: #1e90ff;

}


.menu
{
background-color: #1e90ff;
border-bottom: 4px solid #00547E;
width:100%;
height: auto;
padding: 0 60px;
margin: 0px;
}

.menu  .navbar-nav > .active > a
{
background-color : #00547E;
color: white;
font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
font-size: 20px;
color: black;
padding: 35px 30px;
margin-top: 2px;


}


.menu  .navbar-nav >  li >  a:hover
{

background-color: #66cdaa



}