<div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-md-offset-3 col-lg-offset-0">
                <div class="well">
                    <h3 align="center">Search Filter</h3>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control SearchBar" placeholder="Search for...">
                                        <span class="input-group-btn">
        <button class="btn btn-defaul SearchButton" type="button">
            <span class=" glyphicon glyphicon-search SearchIcon" ></span>
                                        </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <label for="location1" class="control-label">Location</label>
                            <select class="form-control" name="" id="location1">
                                <option value="">Any</option>
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="type1" class="control-label">Type</label>
                            <select class="form-control" name="" id="type1">
                                <option value="">Any</option>
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="type1" class="control-label">Type</label>
                            <select class="form-control" name="" id="type1">
                                <option value="">Any</option>
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="type1" class="control-label">Type</label>
                            <select class="form-control" name="" id="type1">
                                <option value="">Any</option>
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                        </div>
                        <p class="text-center">
                            <a href="#" class="btn btn-danger glyphicon glyphicon-search" role="button"></a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
